body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Sayfanın yüksekliği en az 100vh olacak şekilde ayarlandı */
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    justify-content: center;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    flex: 1; /* Main kısmının büyüyüp küçülmesini sağlar */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* İçerikleri ortalar */
    text-align: center; /* Yazıları ortalar */
}

article {
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* İçeriğin çok geniş olmaması için maksimum genişlik */
    width: 100%;
}

article h3 a {
    color: #333;
    text-decoration: none;
}

article h3 a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}